<!DOCTYPE HTML>
<html>
<head>
    <title class = "headtitle">Desk Attendant Portal</title>
    <link rel="stylesheet" href="PackageSysStyle.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>


        var cardrgx = /(?:%E\?;E\?|\%(\d+)\^(\w+), (\w+) (\w)\s*\?;(\d+)=(\d+)\?)\+E\?/;
        function readCard(cinfo) {
            info = cardrgx.exec(cinfo);
            if (info != null) {
                if (info[1] != null) {
                    $("#600_number").val(info[5]);
                    $("#first_name").val(info[3]);
                    $("#last_name").val(info[2]);
                } else {
                    $("#600_number").val("");
                    $("#first_name").val("");
                    $("#last_name").val("");
                    alert("Error reading card");
                }
            }
        }
        var dfetch = true;
        function login(cinfo) {
            info = cardrgx.exec(cinfo);
            if (info != null) {
                if (info[1] != null) {
                    $.ajax("functions.php?a=login", {
                        'method': 'POST',
                        'data': {'first' : info[3], 'last' : info[2], 'n600' : info[5]},
                        'dataType': "json",
                        'success' : function(json) {
                            if (json.result) {
                                if (dfetch) {
                                    dfetch = false;
                                    $.ajax("functions.php?a=getd", {
                                        'method': 'GET',
                                        'dataType': "json",
                                        'success' : function(json) {
                                            dvm.dorms = json.result;
                                        }
                                    });
                                }
                                $("#overlay").hide();
                            }
                        }
                    });
                } else {
                    alert("Error reading card");
                }
            }
        }

        var curcard = "";
        function silentLogin(event) {
            curcard += String.fromCharCode(event.charCode);
            if (event.keyCode == 13) {
                login(curcard);
                curcard = "";
            }
        }
    </script>
</head>
<body class = "indexBody">
  <div id="overlay" onkeypress="silentLogin(event)" tabindex="1" style="background: rgba(0, 0, 0, 0.67); position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
      <div style="background: #FFFFFF; opacity: 1.00; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%">
          Swipe Mavcard to log back in to system
      </div>
  </div>
<header>
  <img class = "CMULogo" alt="Colorado Mesa Unversity" src="cmu_white.png":></img>
</header>
<nav>
          <ul>
              <li> <a name="nav" href="javascript:void" onclick = "$('a[name=nav]').removeClass('NavHighlight');$(this).addClass('NavHighlight');$('span').hide();$('#Roster').show()">Roster</a></li>
              <li> <a name="nav" href="javascript:void" onclick = "$('a[name=nav]').removeClass('NavHighlight');$(this).addClass('NavHighlight');$('span').hide();$('#EditStudent').show()" >Edit Student</a></li>
              <li> <a name="nav" href="javascript:void" onclick = "$('a[name=nav]').removeClass('NavHighlight');$(this).addClass('NavHighlight');$('span').hide();$('#PackageList').show()" >Package List</a></li>
          </ul>
</nav>

  <span id = "Roster">
      Query thet returns the roster
      <input type="button" value="Sort by Hall" onclick="sortHall();"/>
      <input type="button" value="Sort by last name" onclick="sortLname();"/>
      <em><small> Please Select Residence Hall </small> </em>
      <p><select id="dorms" name="dorms">
          <option v-for="dorm in dorms" :value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
      </select></p>
  </span>
  <span id = "EditStudent">
      Welcome to the Edit Student. Pleas Fill in all info EVEN IF FIELD HASN'T CHANGED<br>
      <em><small>Note: all changes will be added to database.</small> </em>
      <div class = "FormAdd">
          <br>
          <form>
              <table>
                  <tr>
                      <th>First Name:</th>
                      <td><input type="text" name ="fname" required /></td>
                  </tr>
                  <tr>
                      <th>Last Name:</th>
                      <td><input type="text" name ="lname" required /></td>
                  </tr>
                  <tr>
      <th>Residence Hall:</th>
      <td>
          <select id="dorms" name="dorms">
              <option v-for="dorm in dorms" :value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
          </select>
      </td>
                  </tr>
                  <tr>
                    <td><input type="button" value="Add" onclick="Add();"/></td>
                    <td><input type="button" value="Edit" onclick="Edit();"/></td>
                    <td><input type="button" value="Remove" onclick="Remove();"/></td>
                    <td><input type="button" value="Clear" onclick="clearFields();"/></td>
                  </tr>
              </table>
          </form>
      </div>
  </span>
  <span id = "PackageList">
      Welcome to the Package Portal.
      Current Packages
        <center>
            <div id="packages" style="border: 2px solid black; width: 800px;">
              <em><small> Please Select Residence Hall </small> </em>
              <p><select id="dorms" name="dorms">
                  <option v-for="dorm in dorms" :value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
              </select></p>
                <div v-for="package in packages" style="border: 1px solid black; margin: 1px;">
                    {{package.First_Name}} {{package.Last_Name}} - {{package.Description}}
                </div>
            </div>
        </center>
  </span>
    <footer>
			&copy Colorado Mesa University
		</footer>
    </body>
</html>
