<!DOCTYPE HTML>
<html>
    <head>
        <title>Coordinator Portal</title>
        <link rel="stylesheet" href="res/PackageSysStyle.css">
        <script src="res/jquery-3.2.1-min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="res/functions.js"></script>
        <script>

            function getStudent(idx) {
                $("#id").val(svm.results[idx].Unique_ID);
                $("#600_number").val(svm.results[idx]["600_number"]);
                $("#first_name").val(svm.results[idx].First_Name);
                $("#last_name").val(svm.results[idx].Last_Name);
                $("#email").val(svm.results[idx].Email);
            }

            function getDormPackages() {
                $.ajax("res/functions.php?a=getdp", {
                    'method': 'POST',
                    'data': {'did': $("#dorms4").val()},
                    'dataType': "json",
                    'success': function (json) {
                        if (json.result) {
                            pvm.packages = json.result;
                        }
                    }
                });
            }

            function fillPersonInfo(id) {
                if (id > -1) {
                    for (var i = 0; i < svm.results.length; i++) {
                        var result = svm.results[i];
                        if (result.Person_ID == id) {
                            $("#600_number2").val(result['600_Number']);
                            $("#fname2").val(result.First_Name);
                            $("#lname2").val(result.Last_Name);
                            $("#email2").val(result.Email);
                            $("#dorms3").val(result.Dorm);
                            $("#room2").val(result.Room_Number);
                            break;
                        }
                    }
                }
            }

            var dormsEl = ["#dorms", "#dorms2", "#dorms3", "#dorms4"];
            var packagesEl = "#packages";
            var searchEl = "#results";
            var studentsEl = "#students";
        </script>
    </head>
    <body>
      <div id="overlay" class="TextLoginBG">
          <div class="OverlayText TextLoginOverlayText" >
              <p><font color = 'white'><b>ALERT: Login information is case sensitive!</b></font></p>
              <font color = 'white'> First Name: </font> <input type="text" id="Fname"/>
              <br>
              <font color = 'white'> Last Name: </font> <input type="text" id="Lname"/>
              <br>
              <font color = 'white'> Enter Key: </font> <input type="text" id="Key"/>
              <br>
              <input type="button" value="Login" onclick="login($('#Fname')[0].value, $('#Lname')[0].value, $('#Key')[0].value)"/>
          </div>
      </div>

        <header>
            <img class = "CMULogo" alt="Colorado Mesa Unversity" src="res/cmu_white.png">
        </header>
        <nav>
            <ul>
                <li> <a name="nav" id="navRoster" href="javascript:void" onclick="switchToTab(this, '#Roster');">Roster</a></li>
                <li> <a name="nav" id="navAddStudent" href="javascript:void" onclick="switchToTab(this, '#AddStudent');" >Add Student</a></li>
                <li> <a name="nav" id="navEditStudent" href="javascript:void" onclick="switchToTab(this, '#EditStudent');" >Edit/Remove Student</a></li>
                <li> <a name="nav" id="navPackageList" href="javascript:void" onclick="switchToTab(this, '#PackageList');" >Package List</a></li>
            </ul>
        </nav>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="Roster">
            <!--
            <input type="button" value="Sort by Hall" onclick="getPersonhall();"/>
            <input type="button" value="Sort by last name" onclick="getPersonLname();"/>
          -->
            <br>
            <p>
                Display Single Residence Hall Students:
                <select id="dorms" name="dorms" onchange="getDormStudents($('#dorms').val());">
                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
            </select>
            <div id="students">
              <div v-for="student in students">
                                    {{student.First_Name}} {{student.Last_Name}} - Room {{student.Room_Number}} - {{student.Email}}
              </div>
            </div>
            </p>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="AddStudent">
            Welcome to the Add Student. Please Fill in all info.<br>
            <b><p>ALERT: STUDENT INFORMATION MUST BE ALL CAPS! LIKE THIS ALERT!</p></b>
            <em><small>Note: all changes will be added to database.</small> </em>
            <br>
            <div class="FormAdd">
                <table>
                    <tr>
                        <th>600 #:</th>
                        <td><input type="text" id="600_number" /></td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td><input type="text" id="fname" /></td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td><input type="text" id="lname" /></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="text" id="email" /></td>
                    </tr>
                    <tr>
                        <th>Residence Hall:</th>
                        <td>
                            <select id="dorms2" name="dorms">
                                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Room:</th>
                        <td><input type="text" id="room" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Add Student" onclick="addPerson('#600_number', '#fname', '#lname', '#email', '#dorms2', '#room', 0);"/>
                        </td>
                        <td>
                            <input type="button" value="Add RA" onclick="addPerson('#600_number', '#fname', '#lname', '#email', '#dorms2', '#room', 2);"/>
                            <input type="button" value="Add DA" onclick="addPerson('#600_number', '#fname', '#lname', '#email', '#dorms2', '#room', 1);"/>
                        </td>
                        <td>
                            <input type="button" value="Clear Fields" onclick="clearFields();"/>
                        </td>
                    </tr>
                </table>
            </div>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="EditStudent">
            Welcome to the Edit Student. Please Fill in all info.<br>
            <em><small>Note: all changes will be added to database.</small></em>
            <div class="FormEdit">
                <br>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td> <input type="text" name="name" oninput="doSearch(this.value);"/></td>
                        <td>
                            <select id="results" name="results" onchange="fillPersonInfo(this.value)">
                                <option v-for="result in results" v-bind:value="result.Person_ID">{{result.First_Name}} {{result.Last_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>600 #:</td>
                        <td><input type="text" id="600_number2"/></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" id="fname2" /></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" id="lname2" /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" id="email2" /></td>
                    </tr>
                    <tr>
                        <td>Residence Hall:</td>
                        <td>
                            <select id="dorms3" name="dorms">
                                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Room:</td>
                        <td><input type="text" id="room2" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Submit Changes" onclick="editPerson('#results', '#600_number2', '#fname2', '#lname2', '#email2', '#dorms3', '#room2');"/>
                        </td>
                        <td>
                            <input type="button" value="Remove Person" onclick="removePerson('#results');"/>
                        </td>
                        <td>
                            <input type="button" value="Clear Fields" onclick="clearFields();"/>
                        </td>
                    </tr>
                </table>
            </div>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="PackageList">
            Welcome to the Package Portal
            <center>
                <em><small> Please Select Residence Hall </small> </em>
                <p>
                    <select id="dorms4" onchange="getDormPackages();">
                        <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                    </select>
                </p>
                <div id="packages" style="border: 2px solid black; width: 100%;">
                    <div v-for="package in packages" style="border: 1px solid black; margin: 1px;">
                        {{package.First_Name}} {{package.Last_Name}} - {{package.Time_In}} - {{package.Description}} - {{package.Time_Out || "Not Checked Out"}}
                    </div>
                </div>
            </center>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <footer>
            &copy; Colorado Mesa University
        </footer>

        <script type="text/javascript">
            clearFields();
            switchToTab($("a")[0], '#Roster');
        </script>
    </body>
</html>
