<!DOCTYPE HTML>
<html>
    <head>
        <title>Desk Attendant Portal</title>
        <link rel="stylesheet" href="res/PackageSysStyle.css">
        <script src="res/jquery-3.2.1-min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="res/functions.js"></script>
        <script>

            var lastid;
            function getStudentPackages() {
                $.ajax("res/functions.php?a=getsp", {
                    'method': 'POST',
                    'data': {'first': $("#first_name").val(), 'last': $("#last_name").val(), 'n600': $("#600_number").val()},
                    'dataType': "json",
                    'success': function (json) {
                        if (json.result) {
                            pvm.packages = json.result;
                            lastid = pvm.packages[0].owner;
                        }
                    }
                });

            }

            function checkoutPackages() {
                $.ajax("res/functions.php?a=chkt", {
                    'method': 'POST',
                    'data': {'oid': lastid},
                    'dataType': "json"
                });
                clearFields();
                pvm.packages = [];
            }

            function addPackage(){
                $.ajax("res/functions.php?a=addp", {
                    'method' : 'POST',
                    'data' : {'oid' : $("#results").val(), 'desc' : $("#pacdesc").val()},
                    'dataType': "json"
                });
                clearFields();
            }


            dormsEl = ["#dorms"];
            packagesEl = "#packages";
            searchEl = "#results";
            studentsEl = "#students";
            $("#overlay").focus();
        </script>
    </head>
    <body>
        <div id="overlay" onkeypress="silentLogin(event)" tabindex="1" style="background: rgba(109, 94, 81, 0.5); position: fixed; top: 0%; left: 0%; width: 100%; height: 100%;">
            <div class="OverlayText" onkeypress="silentLogin(event)" tabindex="2"  style="opacity: 1.0; position: fixed; top: 30%; left: 30%; width:40%; height: 15%">
                <b><font color = 'white'>Swipe Mavcard to log back in to system</font></b>
            </div>
        </div>
        <header>
            <img class="CMULogo" alt="Colorado Mesa Unversity" src="res/cmu_white.png" />
        </header>
        <nav>
            <ul>
                <li> <a name="nav" href="javascript:void" onclick="switchToTab(this, '#CheckoutPkg');">Checkout Package</a></li>
                <li> <a name="nav" href="javascript:void" onclick="switchToTab(this, '#AddPkg');" >Add Package</a></li>
                <li> <a name="nav" href="javascript:void" onclick="switchToTab(this, '#StuRoster');" >Student Roster</a></li>
            </ul>
        </nav>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="CheckoutPkg">
            <center>
                <table>
                    <tr>
                        <th>Swipe Mavcard:</th>
                        <td><input type="password" onkeypress="if (event.keyCode == 13) {readCard(this.value);this.value = '';}"/></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="first_name" disabled/></td>
                        <td><input type="text" id="last_name" disabled/></td>
                        <td><input type="text" id="600_number" disabled/></td>
                        <td><input type="button" value="Check for Packages" onclick="getStudentPackages();"/>
                    </tr>
                </table>
                <div id="packages" style="border: 1px solid black; margin: 1px; display: inline-block">
                    <div v-for="package in packages" style="border: 1px solid black; margin: 1px; padding: 1px;">
                        {{package.Description}} - {{package.Time_In}}
                    </div>
                </div>
            </center>
            <input type="button" value="Checkout" onclick="checkoutPackages();"/>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="AddPkg">
            Welcome to the Package Portal.
            Please search the student by first name or last name and add a package description below.

            <center>
                <div>
                    <br>
                    <em><small>Note: This form will input a new package into the package Database.</small></em>
                    <br>
                    <table>
                        <tr>
                            <th>Name: </th>
                            <td>
                                <input type="text" name="name" oninput="doSearch(this.value);"/>
                                <select id="results">

                                      <option v-for="result in results" v-bind:value="result.Unique_ID">{{result.First_Name}} {{result.Last_Name}} - Room {{result.Room_Number}}</option>
                                    <!--
                                    <option v-for="result in results" v-bind:value="result.Unique_ID">{{result.First_Name}} {{result.Last_Name}} - {{result.Dorm}} {{result.Room_Number}}</option>
                                    -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Package Description: </th><td> <textarea id="pacdesc" rows="3" cols="50" required></textarea></td>
                        </tr>
                        <tr>
                            <th></th><td><input type="button" value="Submit" onclick="addPackage();"/> <input type="button" value="Reset" /></td>
                        </tr>
                    </table>
                    <br>
                </div>
            </center>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="StuRoster">
            <input type="button" value="Sort by Hall" onclick="sortBy = 'Dorm'"/>
            <input type="button" value="Sort by last name" onclick="sortBy = 'Last_Name'"/>
            <br>
            <p>
                Display Residence Hall Students:
                <select id="dorms">
                    <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                </select>
                <input type="button" value="Show" onclick="getPersonResHall();" />
                <div id="students">
                    <div v-for="student in students">{{student.First_Name}} {{student.Last_Name}} - Room {{student.Room_Number}}</div>
                </div>
            </p>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <footer>
            &copy; Colorado Mesa University
        </footer>

        <script type="text/javascript">

            clearFields();
            switchToTab($("a")[0], '#CheckoutPkg');


            var sortby = "First_Name";
            function sorted(arr) {
                Array.sort(arr, function (a, b) {
                    return b[sortby] - a[sortby];
                });
            }
        </script>
    </body>
</html>
