<!DOCTYPE HTML>
<html>
    <head>
        <title>Res-Life Portal</title>
        <link rel="stylesheet" href="res/PackageSysStyle.css">
        <script src="res/jquery-3.2.1-min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="res/functions.js"></script>
        <script>
            function fillDormInfo(id) {
                if (id > -1) {
                    for (var i = 0; i < dvm[0].dorms.length; i++) {
                        var dorm = dvm[0].dorms[i];
                        if (dorm.Unique_ID == id) {
                            $("#name2").val(dorm.Dorm_Name);
                            $("#address2").val(dorm.Address);
                            break;
                        }
                    }
                }
            }
            
            function fillPersonInfo(id) {
                if (id > -1) {
                    for (var i = 0; i < svm.results.length; i++) {
                        var result = svm.results[i];
                        if (result.Person_ID == id) {
                            $("#600_number2").val(result['600_Number']);
                            $("#fname2").val(result.First_Name);
                            $("#lname2").val(result.Last_Name);
                            $("#email2").val(result.Email);
                            $("#dorms3").val(result.Dorm);
                            $("#room2").val(result.Room_Number);
                            break;
                        }
                    }
                }
            }
                    
            var dormsEl = ["#dorms", "#dorms2", "#dorms3"];
            var packagesEl = "#packages";
            var searchEl = "#results";
            var studentsEl = "#students";
        </script>
    </head>
    <body>
      <div id="overlay" class="TextLoginBG" >
          <div class="OverlayText TextLoginOverlayText">
              <p><font color = 'white'><b>ALERT: Login information is case sensitive!</b></font></p>
              <font color = 'white'> First Name: </font> <input type="text" id="Fname"/>
              <br>
              <font color = 'white'> Last Name: </font> <input type="text" id="Lname"/>
              <br>
              <font color = 'white'> Enter Key: </font> <input type="text" id="Key"/>
              <br>
              <input type="button" value="Login" onclick="login($('#Fname')[0].value, $('#Lname')[0].value, $('#Key')[0].value)"/>
          </div>
      </div>

        <header>
            <img class = "CMULogo" alt="Colorado Mesa Unversity" src="res/cmu_white.png">
        </header>
        <nav>
            <ul>
                <li> <a name="nav" href="javascript:void" onclick = "switchToTab(this, '#AddHall');">Add Residence Halls</a></li>
                <li> <a name="nav" href="javascript:void" onclick = "switchToTab(this, '#EditHall');">Edit Residence Halls</a></li>
                <li> <a name="nav" href="javascript:void" onclick = "switchToTab(this, '#AddPerson');">Add Person</a></li>
                <li> <a name="nav" href="javascript:void" onclick = "switchToTab(this, '#EditPerson');">Edit/Remove Person</a></li>
                <li> <a name="nav" href="javascript:void" onclick = "switchToTab(this, '#MasterClear');">Master Clear</a></li>
            </ul>
        </nav>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="AddHall">
            Welcome to the Residence Hall Add form.<br>
            <em><small>Note: Please Fill in all information.</small></em>
            <em><small>Once a submission is made it is added to database.</small></em>
            <br>
            <div class="FormAdd">
                <table>
                    <tr>
                        <th>Hall Name:</th>
                        <td><input type="text" id="name"/></td>
                    </tr>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td><input type="text" id="address"/></td>
                    </tr>
                    <tr>
                        <td><input type="button" value="Add Hall" onclick="addDorm('#name', '#address');"/></td>
                        <td><input type="button" value="Clear Fields" onclick="clearFields();"/></td>
                    </tr>
                </table>
            </div>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="EditHall">
            Welcome to the Residence Hall Edit/Delete form.<br>
            <em><small>Note: Please Fill in all information.</small></em>
            <br>
            <div class="FormAdd">
                <table>
                    <tr>
                        <th>Please select hall</th>
                        <td>
                            <select id="dorms" name="dorms" onchange="fillDormInfo(this.value)">
                                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Hall Name:</th>
                        <td><input type="text" id="name2"/></td>
                    </tr>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td><input type="text" id="address2"/></td>
                    </tr>
                    <tr>
                        <td><input type="button" value="Submit Changes" onclick="editDorm('#name2', '#address2', '#dorms');"/></td>
                        <td><input type="button" value="Remove Hall" onclick="removeDorm('#dorms');"/></td>
                        <td><input type="button" value="Clear Fields" onclick="clearFields();"/></td>
                    </tr>
                </table>
            </div>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="AddPerson">
            Welcome to the Add Person. Please fill in all info.<br>
            <b><p>ALERT: STUDENT INFORMATION MUST BE ALL CAPS! LIKE THIS ALERT!</p></b>
            <em><small>Note: all changes will be added to database.</small> </em>
            <br>
            <div class="FormAdd">
                <table>
                    <tr>
                        <th>600 #:</th>
                        <td><input type="text" id="600_number" /></td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td><input type="text" id="fname" /></td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td><input type="text" id="lname" /></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="text" id="email" /></td>
                    </tr>
                    <tr>
                        <th>Residence Hall:</th>
                        <td>
                            <select id="dorms2" name="dorms">
                                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Room:</th>
                        <td><input type="text" id="room" /></td>
                    </tr>
                    <tr>
                        <td><input type="button" value="Add Student" onclick="addPerson('#600_number', '#fname', '#lname', '#email', '#dorms2', '#room', 0);"/></td>
                        <td><input type="button" value="Add RA" onclick="addPerson('#600_number', '#fname', '#lname', '#email', '#dorms2', '#room', 2);"/></td>
                        <td><input type="button" value="Add DA" onclick="addPerson('#600_number', '#fname', '#lname', '#email', '#dorms2', '#room', 1);"/></td>
                        <td><input type="button" value="Clear Fields" onclick="clearFields();"/></td>
                    </tr>
                </table>
            </div>
        </span>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="EditPerson">
            Welcome to the Edit Person. Please Fill in all info.<br>
            <em><small>Note: all changes will be added to database.</small></em>
            <div class="FormEdit">
                <br>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>
                            <input type="text" id="searchText" oninput="doSearch(this.value);"/>
                        </td>
                        <td>
                            <select id="results" name="results" onchange="fillPersonInfo(this.value)">
                                <option v-for="result in results" v-bind:value="result.Person_ID">{{result.First_Name}} {{result.Last_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>600 #:</td>
                        <td><input type="text" id="600_number2"/></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" id="fname2" /></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" id="lname2" /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" id="email2" /></td>
                    </tr>
                    <tr>
                        <td>Residence Hall:</td>
                        <td>
                            <select id="dorms3" name="dorms">
                                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Room:</td>
                        <td><input type="text" id="room2" /></td>
                    </tr>
                    <tr>
                    <td><input type="button" value="Submit Changes" onclick="editPerson('#results', '#600_number2', '#fname2', '#lname2', '#email2', '#dorms3', '#room2');"/></td>
                    <td><input type="button" value="Remove Person" onclick="removePerson('#results');"/></td>
                    <td><input type="button" value="Clear Fields" onclick="clearFields();"/></td>
                    </tr>
                </table>
            </div>
        </span>


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <span id="MasterClear">
            <em><large><font size="9">WARNING! </font></large></em>
            </br>
            <em><large><font size="9">ONCE A BUTTON IS CLICKED RESPECTIVE DATABASE IS CLEARED!</font></large></em>
            </br>
            <em><large><font size="9">THIS CANNOT BE UNDONE! </font></large></em>
            </br>
            <input type="button" value="Clear packages" onclick="clearPackages();"/>
            <input type="button" value="Clear All People" onclick="clearPeople();"/>

        </span>

        <footer>
            &copy; Colorado Mesa University
        </footer>
        <script type="text/javascript">
            clearFields();
            switchToTab($("a")[0], '#AddHall');
        </script>
    </body>
</html>
