<!DOCTYPE HTML>
<html>
    <head>
        <title>TV Display</title>
        <link rel="stylesheet" href="res/PackageSysStyle.css">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="res/jquery-3.2.1-min.js"></script>
        <script src="res/functions.js"></script>
        <script>
            function getPackages(dorm) {
                $.ajax("res/functions.php?a=gettv&did=" + dorm, {
                    'method': 'GET',
                    'dataType': "json",
                    'success': function (json) {
                        stvm.students = json.result;
                        
                    }
                });
            }
            
            var scroll = 0;
            $(document).ready(function() {
                
                setInterval(function() {
                    var el = $("#display")[0];
                    scroll += 3;
                    if (scroll > el.scrollHeight - el.clientHeight + 25) {
                        scroll = -25;
                    }
                    el.scrollTop = scroll;
                }, 200);
                
                setInterval(function() {
                    getPackages($("#dorms").val());
                }, 5000);
                
            });

            var studentsEl = "#display";
            var dormsEl = ["#dorms"];
        </script>
    </head>

    <body style="display: flex; flex-direction: column;">
      <div id="overlay" class="TextLoginBG" >
          <div class="OverlayText TextLoginOverlayText">
                <font color = 'white'> <p><b>ALERT: Login information is case sensitive!</b></p></font>
                <font color = 'white'> First Name: </font> <input type="text" id="Fname"/>
                <br>
                <font color = 'white'> Last Name: </font> <input type="text" id="Lname"/>
                <br>
                <font color = 'white'> Enter Key: </font> <input type="text" id="Key"/>
                <br>
                <input type="button" value="Login" onclick="login($('#Fname')[0].value, $('#Lname')[0].value, $('#Key')[0].value)"/>
            </div>
        </div>

        <header>
            <img class="CMULogo" alt="Colorado Mesa Unversity" src="res/cmu_white.png">
        </header>

        <em>
            <small> Please Select Residence Hall </small>
        </em>
        <p>
            <select id="dorms" name="dorms" onchange="getPackages(this.value)">
                <option v-for="dorm in dorms" v-bind:value="dorm.Unique_ID">{{dorm.Dorm_Name}}</option>
            </select>
        </p>
        <p>
            <font size="10">Packages</font>
        </p>
        <em>
            <font size="5">MavCards are required for package checkout.</font>
        </em>
        <br>
        <br>
        
        <!-- This is the display-->
        <div id="display" class="display">
            <div v-for="student in students">
                <div style="padding: 5px;">
                    {{student.First_Name}} {{student.Last_Name}} &nbsp; {{student.pcount}} packages
                </div>
            </div>
        </div>

        <br>
        <footer>
            &copy; Colorado Mesa University
        </footer>
    </body>
</html>
